.checkbox {
  position: relative;
  display: flex;
  margin-top: 15px;

  &__label-text {
    width: fit-content;
    position: relative;
    margin: 0;
    padding-left: 35px;
    cursor: pointer;
    text-align: left;
  }

  input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    cursor: pointer;

    &:checked {
      ~ .checkmark {
        background-color: $color-blue;
        border: 0;
      }

      .checkmark {
        &::after {
          display: block;
        }
      }
    }
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: $color-white;
    border: 2px solid $color-gray;
    border-radius: 5px;

    &::after {
      content: '';
      position: absolute;
      top: 5px;
      left: 8px;
      width: 5px;
      height: 9px;
      border: solid $color-white;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}
