.input {
  position: relative;
  display: block;

  &__label-text {
    margin-bottom: 10px;
  }

  input {
    width: 100%;
    padding: 8px 15px;
    border: 2px solid $color-gray;
    border-radius: 5px;
    background-color: $color-white;
    color: $color-darkgray;
    font-size: 1em;
  }
}
