.input {
  position: relative;
  display: block;
  margin-top: 20px;

  &__label-text {
    margin: 0 0 10px;
  }

  input {
    width: 100%;
    padding: 8px 12px;
    border: 2px solid $color-gray;
    border-radius: 5px;
    background-color: $color-white;
    color: $color-darkgray;
    font-size: 1em;
  }
}
