@import '../../styles/variables.scss';

.input {
    position: relative;
    display: block;
    margin-top: 2rem;

    input {
        width: 100%;
        box-sizing: border-box;
        padding: 8px 1.2rem;
        border: 0.2rem solid $color-gray;
        border-radius: 0.5rem;
        background-color: $color-white;
        color: $color-darkgray;
        font-family: 'Rubik', sans-serif;
        font-size: 1em;
    }

    &__label-text {
        margin: 0 0 1rem;
    }
}
