* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  color: $color-darkgray;
  font-family: $font-rubik;
  font-weight: 500;
  font-size: 16px;
}

input {
  font-family: $font-rubik;
}

.h1 {
  margin: 0 0 30px;
  font-size: 1.5em;
  font-weight: 500;
}
