// colors
$color-white: #fff;
$color-gray: #aaa;
$color-lightgray: #efefef;
$color-darkgray: #222;
$color-blue: #0f8dd6;
$color-error: #f0343e;

// sizes
$input-size: 50px;

// breakpoints
$md: 768px;

// fonts
$font-rubik: 'Rubik', sans-serif;
